<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />

    <div class="login-item" align="center">
        <h2 style="font-weight: bold; font-size: 3rem;"> 회원정보</h2>


        <div class="input-group flex-nowrap login">
            <span class="input-group-text" id="addon-wrapping-name"> Nm : </span>
            <input type="text" id="username" name="username" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
        </div>

        <div class="input-group flex-nowrap login">
            <span class="input-group-text" id="addon-wrapping-password"> PW : </span>
            <input type="text" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="addon-wrapping">
        </div>


        <div  align="center">
            <a id="dpCheck" ><button type="button" class="btn btn-secondary btn-lg login-button"> 중복검사 </button></a>
        </div>

        <div  align="center" style="display: none">
            <a href="/member/join"><button type="button" class="btn btn-secondary btn-lg login-button"> 회원가입 </button></a>
        </div>

    </div>

</div>
</body>
<script th:inline="javascript">
$(document).ready(function(){

 //클릭 이벤트
 initClick()



})

function initClick(){
    // 중복검사
    $('#dpCheck').click(function(){

        $.ajax({
            type: "POST",
            url : "/api/member/dp",
            data:{
                "username" : $('#username').val()
            },
            success:function(data){
                alert(data)
            },
            error:function(){
                alert("오류")
            }
        })
    })


}


</script>
</html>