<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="header" th:fragment="bodyHeader">
    <div class="container">
        <a href="/"> <h2 style="text-align: center;font-style: italic;font-weight: revert;">Jpa Board</h2></a>
        <ul class="nav justify-content-center" style="margin-bottom: 50px">
            <li class="nav-item">
                <a class="nav-link" href="/Board/main">전체 게시물</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">추천 게시물</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">나의 게시물</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
        </ul>
    </div>
</div>