a{
    color: #212529;
}

a:hover{
    color: #000000;
    font-size: large;
    cursor: pointer;
}

.nav-link {
    font-weight: bold;
}

/*페이징 바 */
.pagination {
    justify-content: center!important;
}

.table>:not(caption)>*>* {
    text-align: center;
}
.bottomNav{
    display: inline-flex;
    width:500px;
}
.form-select{
    height: 38px;
    margin-right: 10px;
    margin-left: 10px;
}
.main-bottom{
    display: inline-flex;
    margin: 0px 60px 0px 60px;
    padding: 0px 12px 0px 12px;
}
.table-light > tr > th{
}

.login-item{
    margin: 150px 20px 20px 20px;
}

.login{
    padding: 5px;
    width: 400px;
}

.login-button{
    width: 390px;
    margin: 5px;
}
.board-form{
    margin: 5px 0px 5px 0px;
}
.text-form{
    height: 500px;
    resize: none;
}